@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Neonderthaw&family=Quicksand:wght@300..700&display=swap');


body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F8F6;
}

/* Logo escrita */
.header-font {
    font-family: 'Lora', serif;
}

.font-serif {
  font-family: 'Lora', serif;
}

/* CORES DE TEXTO */
.font-color,
.font-color * {
    color: #2F5E4E; /* verde escuro elegante */
}

.clear-font-color {
    color: #6F9486; /* texto secundário suave */
}

/* BACKGROUNDS */
.main-bg-color {
    background-color: #CFE6DA; /* verde folha bem claro */
}

.secondary-bg-color {
    background-color: #9FCDB8; /* verde médio suave */
}

.tertiary-bg-color {
    background-color: #5F9C83; /* verde destaque */
}

.forty-bg-color {
    background-color: #2F5E4E; /* verde escuro (header / sections) */
}

.fifty-bg-color {
    background-color: #163C2E; /* verde profundo (footer) */
}
